
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body{height: 100%; width: 100%; margin: 0px; background-color: #0AFFFF; padding: 10px; }


.dasboard{
    display: flex;
    float: right;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background: no-repeat;

}

nav{background: red; }
li{  text-transform: uppercase;   text-decoration-color: red; }
li a{ text-decoration: blink; font-size:15px;  color: red;}
nav ul li { float: left; margin: 5px; list-style: none; padding: 5px; background: blue; border-radius:15px;}
ul li:hover{background:black;}

.clz{
    margin-top: 30px;
    float: right;
    margin-right: 230px;
}

.myself{
    margin-top: 30px;
    float: right;
    margin-right: 290px;

}

.my-image{
    margin-bottom: 100px;
    border: 5px solid red;
    border-radius: 70%;
    width: 350px;
    height: 350px;
    margin-bottom: 20px;


     

}
.wel{
    margin-top: 5%;
    text-align: center;




    
}

.info{
    position: fixed;
    top: 200px;
    margin-left: 550px;
    text-align: center;
    font-weight: bold;
}

.port{
    text-align: center;
    position: relative;
    position: fixed;
    top: 250px;
    margin-left: 430px;
}
/*contact page*/

.head{
    color: red;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

 .head span{
    color: blue;
   
}

.contact{
    display: flex;
    height: 95vh;
    width: 100%;
}

.inform{
   
    
    background-color:#800080;
    
    color:white;
    padding: 100px;
    width:30%;
}

address{
    
    align-items: center;
}

.intro{
    font-size: large;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.form{
width:80%;
padding:40px;
background-color: #FF00FF;




}

#firstname,#middlename, #surename,#gender, #phone{
width:100%;
margin: 3px;
border-radius: 12px;
padding: 10px;



}
.label{
    
    color:black;
    margin-left: 10px;
}

.button{
    float: right;
    margin-right: 2px;
    border-radius: 15px;
    background-color: yellow;
    border:2px solid white;
    padding:15px;
    margin: 15px;
    color:red;
   font-weight:bold;
    cursor: pointer;
    
    
    
    
}
.massege-box{
    margin-bottom: 45px;
    border-radius: 25px;
     background-color: blue;
    text-align: center;
    border-bottom:2px;
    padding: 7px;
    text-transform: uppercase;
}


textarea{
    border: 2px solid ;
    border-radius: 25px;
    padding: 25px;
    width:100%;
    height:100px;
}

/*Cv page*/
.my-img{
    text-align: center;
    margin-bottom: 100px;
    border: 5px solid red;
    border-radius: 70%;
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.muk{
	
	margin-left: 47%;

}

.my-name{
    text-align: center;
}

.information{
background-color: #FF6700;
}

.school{
    background-color: #FFA500;
}

.knowledge{
    background-color: #008000;
}

.act{
    background-color: #808000;
}

.lang{
    background-color: #00FF00;
}
/* report page*/
.report{
    background-color: #B666D2;
}
















 